
/**
 * @file
 * Content management filter style sheet.
 */
#node-admin-filter em {
  font-weight: bold;
}

#node-admin-filter label.option {
  white-space: pre;
}

#node-admin-filter dl.multiselect dt  {
  margin: 2px 1em 0 1em;
  vertical-align: top;
}

#node-admin-filter dl.multiselect label  {
  vertical-align: top;
}

#node-admin-filter dl.multiselect dd .form-item {
  margin-top: 2px;
  width: 18em;
}

#node-admin-filter dl.multiselect dd.b select {
  width: 18em;
}

#node-admin-filter dl.multiselect dd.b input {
  width: 21.2em; 
}

#node-admin-buttons {
  margin-left: 5em;
}

.date-inline .form-item select {
  margin-right: 3px;
  float: left;
  width: auto !important;
}

.cmf-radios .form-item label.option {
  margin-left: 1em;
  white-space: normal;
}

.cmf-radios .form-item .description {
  clear: both;
  margin-left: 1.5em;
}

/* For colorful buttons, remove the trailing comment start. */ /*
#edit-submit {
  color: #008000;
  border: 2px outset #008000;
}

#edit-undo {
  color: #fc8c00;
  border: 2px outset #fc8c00;
}

#edit-reset, #edit-submit-1 {
  color: #990000;
  border: 2px outset #990000;
}

#edit-apply {
  color: #000088;
  border: 2px outset #000088;
  margin-left: 3em;
}  /* */




/*wjc ass 
#cmf-filter-form #edit-filter{
    float: left;
}

#cmf-filter-form .form-item-status, .form-item-type, .form-item-category{
    float: right;
}*/

#taxdiv select{
  display: block;
  float: left;
}

#taxdiv .empty{
  display: block;
  float: left;
}

.on-search {
    background: url("/misc/throbber.gif") no-repeat scroll 0 -20px transparent;
    display: block;
    float: left;
    height: 15px;
    margin: 5px 0 5px 5px;
    width: 15px;
}


.form-item {
    margin: 0 !important;
    padding: 0 !important;
}

#node-admin-filter-filter{
    margin-left: 30px;
    float: left;
}

#node-admin-filter-status{
    margin-left: 60px;
    float: left;
}

#node-admin-filter-result{
    clear: left;
    border: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 1.5em 2.5em 1.5em 1.5em;
    position: relative;
}

#main-filters{
    float: left;
    border: 1px solid #CCCCCC;
    margin: 1em 0;
    margin-top: 8px !important;
    padding: 1.5em 2.5em 1.5em 1.5em;
    height:100%;   
    position: relative;
}

#node-admin-filter-filter #edit-filter div{
    line-height: 30px;
}

#node-admin-filter-status .date-inline{
	display:block;
}

#node-admin-filter-status .form-item-status{
    margin-top: 7px;
}

#node-admin-filter-status .form-item-category{
    margin-top: 7px;
}

#node-admin-filter-status .form-item-title{
    margin-top: 45px;
}

#node-admin-filter-status .form-item-body-contains{
    margin-top: 10px;
}

#node-admin-filter-status .form-item-created-after{
    margin-top: 5px;
}

#node-admin-filter-status .form-item-created-before{
    margin-top: 47px;
}

#node-admin-filter-status .form-item-language{
	margin-top:81px;
}

#node-admin-filter-status .form-item-users{
    /*margin-top: 30px;*/
}

#node-admin-filter-status .form-item-role{
    margin-top: 10px;
}

#node-admin-filter-status .form-item-blocked{
    margin-top: 10px;
}

#node-admin-filter-status .form-item{
    line-height: 35px;
	height:30px;
}

#node-admin-filter-status .date-inline .form-item-created-after{
     height: 30px;
    line-height: 30px;
}

#edit-submit{
	margin-left:15px;
}

#taxdiv{
	max-width:700px;
	height:15px;
}